body{
	background-color:  #e6faff;
}
a{
	text-decoration: none;
}


.header{
	margin: 0px;
	width: 100%;
	height: 115px;
	background: #99d6ff;
	font-family: Geneva, Tahoma, Verdana, sans-serif;
	position: relative;
	display: inline-block;

}
.container{
	float: right;
	margin-right: 200px;
	margin-top: 45px;
	padding: 0px;
}

#logo{
	margin-left: 200px;
	display: inline-block;
	width: 150px;
	position: relative;
	float: left;
}
.headerMenu a{
	color:#008fb3
}
.headerMenu a:hover{
	color:#003d4d;
	text-decoration: underline;
}	
.headerMenu a:ative{
	color:#003d4d;
}
.headerMenu{
	margin: 0px;
	margin-left: 40px;
	display: inline-block;
	color: black;

}




.body{
	margin: 0px;
	margin: auto;
	margin-top: -20px;

	width: 75%;
	height: 100%;
	background-color: white;
}




.footer{
	margin: 0px;
	margin-top: -15px;
	position: relative;

	background-color: #66c2ff;
	width: 100%;
	height: 250px;

}

.allWords{
	margin: 0px;
	width: 100%;
	height: 100px;
	background-color: #006bb3;
}
.firstLine{
	position: relative;
	margin-left: 22.5%;
}

.word{
	position: relative;
	display: inline-block;
	font-family: Geneva, Tahoma, Verdana, sans-serif;

}
#blue{
	margin-top: 20px;
	position: relative;

	font-size: 140%;
	text-shadow:1px 1px 1px #006699;
	color:#66ccff;
}

.secondLine{
	margin-top: -15px;
	position: relative;
	margin-left: 25.5%;
}
#white{
	position: relative;
	margin:0px;

	font-size: 140%;
	text-shadow:1px 1px 1px #006699;
	color: #e6f2ff;
}
#line{
	position: relative;
	margin:7px;
	background-color: black;
	width: 80px;
	height: 4px;
}





