body{
	background-color:  #ebf2f9;
	font-family: Geneva, Tahoma, Verdana, sans-serif;
}
a{
	text-decoration: none;
}



/*-----------Header Menu-----------*/

.header{
	margin: 0px;
	width: 100%;
	height: 115px;
	background: #006bb3;
	box-shadow: 3px 3px 3px #d9e6f2;

	position: relative;
	display: inline-block;

}
.container{
	float: right;
	margin-right: 200px;
	margin-top: 45px;
	padding: 0px;
}

#logo{
	margin-left: 200px;
	display: inline-block;
	width: 150px;
	position: relative;
	float: left;
}
.container> li{
	margin: 0px;
	margin-left: 40px;
	display: inline-block;
	color: black;

}
.container a{
	color:#4dd2ff;
	
}
.container a:hover{
	color:#003d4d;
	text-decoration: underline;
}	
.container a:active{
	color:#003d4d;
}


/*-----------Index Body-----------*/

.body{
	position: relative;
	margin: auto;
	margin-top: -3px;
	width: 75%;
	height: 100%;
	background-color: white;
}
.welcome{
	margin: auto;
	padding: 35px;
	width: 90%;

	font-size: 18px;
}
#headWelcome{
	position: relative;
	margin: auto;
	
	width: 65%;
	font-size: 35px; 
	color:  #0099cc; 
}
#service{
	position: relative;
	margin: auto;
	
	width: 35%;
	font-size: 25px; 
	color:  #0099cc;
}
.text{
	margin: auto;
	margin-top: 15px;
	width: 60%;
}



/*-----------Slider-----------*/
.slider{
	position: relative;
	margin: auto;
	margin-top: -3px;
	margin-bottom: 20px;
	width: 75%;
	height: 100%;
	background-color: white;
}
.slide{
	position: relative;
	width: 100%;
	margin: auto;
}
.pad{
	position: relative;
	margin-top:-46%;
	margin-left: 70%;



	background-color: white;
	width: 18%;
	

	-webkit-transform: rotateZ(15deg); /* Safari */
    transform: rotateZ(15deg); /* Standard syntax */

}

.statement{
	color: #008fb3;
	text-shadow: 1px 1px 1px #d9e6f2;

	margin: auto;
	margin-left: 5%;

	padding-top: 22%;
	padding-bottom: 22%;

	-webkit-transform: rotateZ(-15deg);
	transform: rotateZ(-15deg);
}
.line{
	position: relative;
	margin-left: 10%;
	width: 50%;
	height: 5px;
	background-color: #d9e6f2;


	-webkit-transform: rotateZ(-15deg);
	transform: rotateZ(-15deg);
}



/*-----------About-----------*/

/*------------Galery----------*/


/*--------------Footer------------*/
		/*-----contact------*/

.footer{
	margin: 0px;
	margin-top: -15px;
	position: relative;

	background-color: #66c2ff;
	width: 100%;
	height: 250px;

}

.allWords{
	margin: 0px;
	width: 100%;
	height: 100px;
	background-color: #006bb3;
}
.firstLine{
	position: relative;
	margin-left: 22.5%;
}

.word{
	position: relative;
	display: inline-block;

}
#blue{
	margin-top: 20px;
	position: relative;

	font-size: 140%;
	text-shadow:1px 1px 1px #006699;
	color:#66ccff;
}

.secondLine{
	margin-top: -15px;
	position: relative;
	margin-left: 25.5%;
}
#white{
	position: relative;
	margin:0px;

	font-size: 140%;
	text-shadow:1px 1px 1px #006699;
	color: #e6f2ff;
}
#line{
	position: relative;
	margin:7px;
	background-color: black;
	width: 80px;
	height: 4px;
}





